*{
    margin: 0; padding: 0; box-sizing: border-box;
}

.border{
    border: 2px solid rgb(11, 172, 226);
}

#heading{
    padding-top: 20%;
    color: white;
    padding-left: 10px;
}

.collapse{
    justify-content: space-between;
}

.menu-btn{
    background-color: rgb(37, 37, 37);
}

.first-section{
    background-color: #232323;
    padding: 12px;
    border-radius: 10px;
}

.BSC-btn{
    background-color: #F2BC1A1A;
    padding: 4px 18px;
    color: #F9C013;
    border-radius: 6px;
    border: 0;
}

.launch-btn{
    background-color: #000000;
    padding: 4px 18px;
    color: #56C5FF;
    border-radius: 6px;
    border: 0;
}

.game-bg{
    background-color: #232323;
    border-radius: 6px;
}

.port-game{
    display: flex;
    justify-content: space-between;
}

.game-logo{
    width: 70px;
}

.project-img{
    width: 700px;
    margin: auto;
    margin-bottom: 20px;
}

.followers-icon{
    width: 190px;
}

.social-icons{
    width: 38px;
    background-color: #232323;
    padding: 10px 12px;
}

.project-bg{
    background-color: #232323;
    border-radius: 6px;
    padding: 12px;
    border: 1px solid rgb(11, 172, 226);
}

.project-container{
   display: grid;
   grid-template-columns: repeat(2,21vw);

}

.max{
    display: flex;
    justify-content: space-between;
    background-color: #373737;
    padding: 6px;
    border-radius: 8px;
}

.max-btn{
    background-color: #56C5FF;
    padding: 4px 18px;
    color: white;
    border-radius: 6px;
    border: 0;
}

.join-army{
    background-color: #373737;
    padding: 7px 27px;
    color: white;
    margin: 0;
}

.join-army-btn{
    background-color: #24B6E6;
    padding: 6px 22px;
    color: white;
    border-radius: 6px;
    border: 0;
}


.army-img{
    width: 200px;
    padding: 17px 0 0;
    margin-left: -50px;
}

.apply-to-lunch{
    background-color: #56C5FF;
    padding: 20px;
    text-align: center;
}

.apply-to-lunch h4 {
    padding: 26px 0;
}

.apply-to-lunch .btn-dark {
    margin: 20px 0;
}

.bg-footer-img{
    background: url("images//footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
  }
.grid-item {
    padding: 8px;
    font-size: 16px;
    text-align: center;
}

.footer-icon-bg{
    background-color: #373737;
    border-radius: 50%;
    padding: 8px;
}
.footer-icons{
    font-size: 28px;
}

.links a{
    text-decoration: none;
}

.copyright{
    display: flex;
    justify-content: space-between;
}

.copyright-text{
    color: #24B6E6;
}

@media only screen and (max-width: 991px) {
    .logo {
      display: none;
    }

}

@media only screen and (min-width: 992px) {
    .language-btn{
        display: none;
    }
}

